<div class="toast show @BackgroundClass()">
    <div class="toast-header">
        <strong class="me-auto">@(ViewModel.Title ?? "")</strong>
    </div>
    <div class="toast-body">
        @ViewModel.Message
    </div>
</div>